body
{
    font-size :16px;
    color: #fff;
    background-color: #61122f;
    font-family: "Oxygen", sans-serif
    
}
#header-nav
{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
#logo-img
{
    background: url('../images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}
.pull-left
{
    float: left;
}
.navbar-header a
{
    text-decoration: none;
}
.navbar-brand
{
    padding-top: 25px;
}
.navbar-brand h1 /* Restaurant Name */
{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #557c3e;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    
    
}
.navbar-brand{
    text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus
{
    text-decoration: none;
}
.navbar-brand p /* Restaurant Slogan */
{
    font-size: .7em;
    color: #000;
    margin-top: 15px;
    text-transform: uppercase;

}
.navbar-nav p span /* Star-K */
{
    vertical-align: middle;
}